* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}   
    
    div#password {
    height: 30vh;
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 20vh;
    padding: 5vh 0;
    font-size: 3rem;
    background-color: aquamarine;
}
div#main {
    height: 50vh;
    display: flex;

}

div#keyboard {
    flex: 1;
    background-color: beige;
}

div#imageDiv {
    flex: 1;
    background-color: lightgoldenrodyellow;
    text-align: center;
}

img#image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

div#menu {
    height: 20vh;
    text-align: center;
    padding: 5vh;
    background-color: lightcyan;
}

button{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    text-transform: uppercase;
    background-color: teal;
    color: lightcyan;
    font-weight: 500;
    font-size: 1.5rem;
}